requests
pandas
fuzzywuzzy
beautifulsoup4
spacy==2.3.2
stanza
scikit-learn
tqdm
fastapi
uvicorn
python-multipart
lxml
ratelimit
gdown
scholarly==0.5.1
selenium
transformers
pickledb
allennlp==2.2.0
allennlp-models==2.2.0
textblob==0.15.3
textstat==0.7.0
sqlitedict
statsmodels
